html {
    font-family: 'poppins',sans-serif;
    --bg: #D5CABD;
    --box: #9E9488;
    --button: #845EC2;
    --button_hover: #976cde;
    --navbar: #4E8397;
    --navbar_hover: #416b7a;
    --card_box: #9E9488;
    --shadow: #1C1C1C;
    --textarea: #827a6f;
    --section: #b9b0a4;
    --section2: #c8bfb4;
    --black: #000;
    --white: #FFFFFF;
    --border: #afaba2;
    --lightblack: #686868;
    --sec_button: #a8a19a;
    --sec_button_hover: #96928d;
    --grey: #4e4d4d;
    --green-inside: #83eb6a;
    --green-outside: #54ca37;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}
body {
    background-color: var(--bg);
    overscroll-behavior: none;
}
footer {
    background-color: var(--box);
    position: relative;
    color: #fff;
    height: 80px;
    padding: 10px;
    text-align: center;
}
footer p {
    position: relative;
    top: 20px;
}



/* Main section */
.main-section {
    min-height: 100vh;
    width: 100%;
    height: 100%;
}
.main-section_card {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 30rem) {
    .main-section_card {
        position: static;
    }
}


/* Button main styles */
.button {
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
}

.prim_button {
    background: var(--button);
    transition: all 0.3s ease-in;
    color: var(--white);
}
.prim_button:hover {
    background: var(--button_hover);
    box-shadow: 0 0 10px var(--shadow);
}

.sec_button {
    background: var(--sec_button);
    transition: all 0.3s ease-in;
    color: var(--black);
}
.sec_button:hover {
    background: var(--sec_button_hover);
    box-shadow: 0 0 7px var(--shadow);
}

.message {
    color: #ff0000;
    font-weight: 600;
    font-size: 1.1em;
    text-align: center;
    margin-top: 10px;
}



/* Inputbox */
.prim_inputbox {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    outline: 4px solid var(--navbar);
    height: 40px;
    color: var(--white);
    padding: 0 10px;
    font-size: 1em;
    width: 100%;
}
.prim_inputbox_parent label {
    display: inline-block;
    color: var(--white);
    position: absolute;
    font-size: .9em;
    top: -13px;
    left: 11px;
    padding: 0 5px;
    background-color: inherit;
    text-align: center;
}
.prim_inputbox_parent {
    position: relative;
}

.sec_inputbox {
    position: relative;
    background-color: transparent;
    border-bottom: 2px solid #fff;
}
.sec_inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
.sec_inputbox input:focus ~ label,
.sec_inputbox input:not(:placeholder-shown) ~ label{
top: -7px;
}
.sec_inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    font-size: 1em;
    border: none;
    outline: none;
    color: #fff;
    padding: 0 35px 0 5px;
}
.sec_inputbox ion-icon {
    position: absolute;
    color: #fff;
    font-size: 1.2em;
    right: 8px;
    top: 16px;
}
.sec_inputbox input:-webkit-autofill {
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--card_box) inset;
}

.profile_img {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-shadow: 0 0 10px var(--shadow);
}



/* Navigationbar */
.navbar {
    position: fixed;
    top: 0;
    overflow: hidden;
    background: var(--navbar);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    min-height: 50px;
    box-shadow: 0 0 20px var(--shadow);
}
.placeholder_navbar {
    position: relative;
}

.navbar a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 8px 30px;
    display: block;
}
.Logo {
    position: relative;
    text-align: center;
    min-width: 4rem;
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    margin-left: 20px;
}

@media (max-width: 30rem) {
    .menu {
        flex-direction: column;
    }
    .menu li {
        justify-content: center;
        padding-right: .8rem;
    }
}

.menu li {
    list-style: none;
}
.menu {
    width: 50rem;
    min-height: 50px;
    display: flex;
    justify-content: right;
}
.menu li:hover {
    background-color: var(--navbar_hover);
}
.menu li {
    display: flex;
    align-items: center;
}
.profile img {
    border-radius: 50%;
    margin-right: 22px;
    margin-left: -16px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-shadow: 0 0 5px var(--shadow);
}



/* Login Page */
.form-box {
    position: relative;
    background-color: var(--card_box);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px var(--shadow);
}
.login-forget_form-box {
    max-width: 31em;
    width: 31em;
    height: 470px;
}
.login_header {
    font-size: 2em;
    text-align: center;
    color: white;
}
.login_inputbox {
    margin-top: 30px;
    width: 18rem;
}



.forget {
    color: #fff;
    font-size: .9em;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.forget input[type="checkbox"] {
    accent-color: var(--button_hover);
}
.forget_container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.forget label input {
    margin-right: 4px;
    color: #fff;
}
.forget label a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 36px;
}
.forget label a:hover {
    text-decoration: underline;
}
.login_button {
    margin-top: 15px;
    width: 100%;
    height: 2.5rem;
}
.register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin-top: 14px;
}
.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover {
    text-decoration: underline;
}


/* Forgot Password */
.forget_form-box {
    height: fit-content;
    width: fit-content;
    padding: 50px 40px;
}
.forget_header {
    font-size: 2em;
    color: var(--white);
    text-align: center;
    margin-bottom: 2.8rem;
}
.forgot_inputbox {
    margin-top: 30px;
    width: 18rem;
}

.update_password_button {
    width: 100%;
    height: 2.5rem;
    text-align: center;
    margin-top: 2rem;
}
.login {
    margin-top: 12px;
    color: var(--white);
    text-align: center;
    font-size: 1em;
}
.login a {
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
}
.login a:hover {
    text-decoration: underline;
}
.forgot_password_hr {
    margin-top: 16px;
}
.explaination {
    margin-top: 18px;
    text-align: center;
    width: 18rem;
    color: var(--white);
}
.final_page {
    width: 7rem;
    height: 2rem;
}

.ver_forget_pw_button {
    margin-top: 20px;
    width: 100%;
    height: 2.5rem;
}
.forgot_value form p {
    color: var(--white);
    margin-top: 10px;
    text-align: center;
}






/* Signup Page */
.signup_form-box {
    max-width: 36em;
    width: 36em;
    height: 530px;
}
.form_signup {
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.signup_header {
    position: relative;
    font-size: 2.2em;
    margin-top: 42px;
    color: var(--white);
    text-align: center;
}
.signup_inputbox {
    margin-top: 35px;
    width: 190px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}
.signup_footer {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.signup_button {
    width: 19rem;
    height: 2.7rem;
}
.already {
    font-size: .9em;
    color: #fff;
    text-decoration: none;
    margin: 20px 0;
}
.already a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.already a:hover {
    text-decoration: underline;
}
.passwords_conf_err {
    position: relative;
    margin-bottom: 16px;
}




/* User details */
.user-box {
    position: relative;
    background: var(--card_box);
    border-radius: 40px;
    max-width: 52rem;
    min-width: 18rem;
    height: 34rem;
    margin-inline: 1rem;
    padding: 25px 30px;
    overflow: scroll;
    box-shadow: 0 0 20px var(--shadow);
}
@media (max-width: 731px) {
    .user-box {
        width: 30rem;
        height: 28rem;
        top: -62px;
    }
}

.user-box::-webkit-scrollbar {
    display: none;
}
.user-heading {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px 50px 30px;
}
@media (max-width: 731px) {
    .user-heading {
        margin: 10px 0 30px;
    }
}
.user-headline {
    position: relative;
    font-size: 1.7em;
    color: #fff;
    width: 260px;
}
.user-info_pic img{
    position: relative;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-right: 20px;
    margin-left: 10px;
    box-shadow: 0 0 10px var(--shadow);
}
.user-info p{
    position: relative;
    color: #fff;
    border-bottom: 2px solid #fff;
    background: transparent;
    margin: 30px 25px;
    padding: 0 35px 0 5px;
    width: 270px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width: 731px) {
    .user-info p {
        width: 240px;
    }
}
.user-info label {
    position: absolute;
    color: #fff;
    pointer-events: none;
    padding: 0 35px 0 5px;
    left: 26px;
    font-size: 1em;
}
.user-info ion-icon {
    position: absolute;
    color: #fff;
    font-size: 1.3em;
    right: 30px;
    top: 25px;
}
.user-info {
    position: relative;
}
.user-values {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.user-footer {
    text-align: center;
    margin-top: 10px;
}
.user-footer .edit_profile{
    position: relative;
    text-decoration: none;
    width: 280px;
    height: 40px;
    transition: all 0.3s ease-in;
}
@media (max-width: 731px) {
    .user-footer .edit_profile{
        width: 220px;
    }
}
.edit_profile a {
    text-decoration: none;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: all 0.3s ease-in;
}
.edit_profile:hover {
    background: var(--button_hover);
}
.log_out-text {
    position: relative;
    margin: 20px 0 10px 0;
    text-align: center;
    color: #fff;
    font-size: .9em;
}
.log_out-text a {
    font-weight: 700;
    text-decoration: none;
    color: #ff0000;
}
.log_out-text a:hover {
    text-decoration: underline;
}





/* Edit Page */
.user-info input {
    position: relative;
    color: #fff;
    background: transparent;
    margin: 30px 25px;
    padding: 0 35px 0 5px;
    width: 270px;
    height: 30px;
    font-size: 1em;
    outline: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    text-overflow: ellipsis;
}
.user-edit-heading-username {
    display: flex;
}
.user-headline-input {
    position: relative;
    color: #fff;
    font-size: 1.7em;
    font-weight: bolder;
    background: transparent;
    outline: none;
    border: none;
}
.user-footer .update_profile {
    position: relative;
    text-decoration: none;
    width: 280px;
    height: 40px;
}
.at_sign {
    max-width: 23px;
    font-size: 1.7em;
    font-weight: bolder;

}
.user-edit-heading {
    position: relative;
}
.user-headline-username {
    margin-left: 3.3px;
}




/* home page */
.home_head_section {
    position: relative;
    height: 350px;
    width: 100%;
    padding: 20px;
}
.home_new_head {
    height: 40%;
    width: 100%;
}
.home_new_headertext {
    position: relative;
    left: 70px;
    top: 60px;
    width: 640px;
    color: #fff;
    font-size: 3em;
    font-weight: 500;
}

/* Report */
.daily_report h2 {
    color: var(--white);
    text-align: center;
    font-size: 2.3em;
    padding: 22px 12px 28px;
}
.report_blocks_container {
    position: relative;
    color: var(--white);
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.report_block {
    width: 22%;
    text-align: center;
    background-color: var(--box);
    border-radius: 20px;
    margin: 0 30px;
    box-shadow: 0 0 20px var(--shadow);
}
.report_block h3 {
    margin: 18px 6px 2px;
}
.report_block ion-icon {
    font-size: 2.3em;
    color: var(--white);
    padding: 30px;
}



/* create_post */
.home_mid_section {
    position: relative;
    padding-top: 20px;
    padding-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 300px 800px;
}
.posts_heading {
    position: relative;
    height: 278px;
    display: flex;
    justify-content: center;
    grid-column: 1 / 4;
    grid-row: 1 / 1;
}
.post_self_block {
    background-color: var(--box);
    height: 250px;
    width: 85%;
    border-radius: 20px;
    box-shadow: 0 0 20px var(--shadow);
}
.post_self {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
}
.profile_image_self {
    padding: 20px;
}
.profile_image_self img {
    position: relative;
}
.post_form_value {
    width: 100%;
    padding: 23px 30px 20px 0;
}
.post_form_value form {
    height: 230px;
}
.post_form_value textarea {
    position: relative;
    background-color: var(--textarea);
    color: var(--white);
    outline: none;
    border: none;
    font-size: .9em;
    border-radius: 9px;
    width: 100%;
    height: 60%;
    padding: 10px 5px;
    box-shadow: 0 0 8px var(--shadow);
}
.post_form_value textarea::-webkit-input-placeholder {
    color: #fff;
}
.post_form_value textarea:focus {
    box-shadow: 0 0 13px var(--shadow);
    outline: #1C1C1C;
}
.post_form_value_footer {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 27%;
    position: relative;
}
.characters_counter {
    color: var(--white);
    font-size: 1em;
    margin: 20px;
}
.post_create {
    width: 7rem;
    height: 2.5rem;
}
.posts_side {
    position: relative;
    grid-row: span 2;
    display: flex;
}
@media (max-width: 600px) {
    .posts_side {
        grid-column: 1 / max;
        justify-content: center;
    }
}

.suggested_accounts_box {
    position: relative;
    background-color: var(--box);
    border-radius: 20px;
    height: 100%;
    width: 85%;
    box-shadow: 0 0 20px var(--shadow);
}
.posts_side h3 {
    color: var(--white);
    font-size: 1.3em;
    padding: 16px 14px 10px 20px;
}
.posts_side .suggested_accounts {
    padding: 6px 20px;
}
.account_box {
    border-radius: 8px;
    height: 2rem;
    margin-bottom: 8px;
    padding: 5px 9px;
    background-color: var(--textarea);
}
.account_box a {
    text-decoration: none;
    color: var(--white);
}
.account_box a:hover {
    text-decoration: underline;
    color: var(--white);
}


.posts_section {
    position: relative;
    display: flex;
    justify-content: center;
    grid-row: 2;
    grid-column: 1 / 4;
}
@media (max-width: 600px) {
    .posts_section {
        margin-bottom: 50px;
    }
}



.posts_block {
    background-color: var(--box);
    overflow: scroll;
    width: 85%;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 20px var(--shadow);
}
.post {
    border: 2px solid var(--border);
    border-radius: 10px;
    height: fit-content;
    margin-bottom: 10px;
    display: flex;
}
.post_img_col {
    padding: 8px 12px;
    width: fit-content;
}
.post_main_col {
    display: flex;
    flex-direction: column;
    width: 85%;
    word-wrap: break-word;
}
.post_main_col_head {
    display: flex;
}
.post_main_col_head p {
    margin: 4px 16px 2px 8px;
    font-size: 1.2em;
}
.post_main_col_head .post_username {
    font-weight: 600;
    color: var(--white);
}
.post_main_col_head .post_posttime {
    color: var(--grey);
}

.post_main_col_body {
    height: 100%;
    padding: 10px;
}
.post_main_col_body p {
    color: var(--white);
}






/* CONTACT Page */
.faq-section {
    margin-bottom: 90px;
    padding: 20px;
}
.faq-header {
    width: 100%;
    margin: 20px 0;
}
.faq-header h1 {
    text-align: center;
    color: var(--white);
    font-size: 2em;
}
.faq-container {
    max-width: 600px;
    margin: 0 auto;
}
.faq-element {
    position: relative;
    display: block;
    border: 4px solid var(--box);
    background-color: var(--card_box);
    border-radius: 10px;
    margin-bottom: 4px;
}
.faq-element-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.faq-question {
    cursor: pointer;
    font-weight: bold;
}
.faq-element ion-icon {
    position: relative;
    font-size: 1em;
}
.faq-answer {
    margin: 10px;
    display: none;
}



.ticket-form_section {
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.ticket-form_box {
    background-color: var(--card_box);
    width: 80%;
    height: 90%;
    padding: 20px;
    box-shadow: 0 0 20px var(--shadow);
    border-radius: 20px;
}
.ticket-form_head {
    margin:  0 10px 20px;
    position: relative;
}
.ticket-form_head a {
    font-style: none;
    color: var(--navbar);
    text-decoration: underline;
    transition: 0.2s ease-in;
}
.ticket-form_head a:hover {
    color: var(--navbar_hover);
}
.ticket-form_box h2 {
    text-align: center;
    color: var(--white);
    font-size: 2.2em;
    margin-bottom: 10px;
}
.ticket-form_box h5 {
    text-align: left;
    color: var(--navbar);
    font-size: 1em;
}
.ticket-form-value {
    height: 380px;
    overflow: hidden;
    padding: 30px 16px;
}
.ticket-form-value form {
    width: 100%;
    height: 100%;
}
.form_head {
    margin-bottom: 32px;
    position: relative;
    height: 60px;
}
.contact_inputbox {
    position: relative;
    width: 45%;
}
.contact_inputbox_parent label {
    background-color: var(--box);
}
.contact_textarea {
    position: relative;
    width: 100%;
}
.ticket-form-value textarea {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    outline: 4px solid var(--navbar);
    width: 100%;
    height: 140px;
    color: var(--white);
    padding: 12px 10px;
    font-size: 1em;
}
.contact_box_footer {
    padding: 20px 8px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.contact_button {
    width: 160px;
    height: 40px;
    margin-left: 20px;
}



/* Settings page */
.settings_tabs_section {
    position: relative;
    width: 35%;
    padding-top: 40px;
    background-color: var(--section);
    border-right: 2px solid var(--border);
    font-weight: 600;
    font-size: 1.3em;
    float: left;
    height: 800px;
}
.settings_tabs_section h2 {
    padding-left: 34px;
    font-size: 1.8em;
    margin-bottom: 30px;
}
.settings_tabs {
    padding: 10px 20px;
}
.settings_tab {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    height: fit-content;
    align-items: center;
}
.settings_tab ion-icon {
    margin-right: 11px;
    position: relative;
    flex-shrink: 0;
}
@media (max-width: 30rem) {
    .settings_tabs_section h2 {
        font-size: 1.3em;
        padding-left: 14px;
    }
    .settings_tabs_section {
        font-size: .8em;
    }
    .settings_tabs {
        padding-left: 10px;
    }
}




.tabs_information_section {
    position: relative;
    width: 65%;
    padding: 40px 20px;
    background-color: var(--section2);
    font-weight: 600;
    font-size: 1.3em;
    float: right;
    height: 800px;
}
.sector_hr {
    border: .5px solid var(--border);
    margin-bottom: 20px;
    width: 80%;
}
.settings_tabs_hr {
    border: 1px solid var(--border);
    margin-left: 20px;
    margin-bottom: 4px;
}
.tab_information h2 {
    margin-bottom: 28px;
}
.tab_information h3 {
    margin-bottom: 10px;
}
.tab_information h6 {
    margin-bottom: 32px;
    color: var(--lightblack);
}

.personal_information_form {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
@media (max-width: 761px) {
    .personal_information_form {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .settings_inputbox {
        width: 80%;
    }
}
.settings_inputbox_parent label {
    background-color: var(--section2);
}
.settings_inputbox {
    font-size: .8em;
}

.settings_information_actions {
    grid-column: 2;
    position: relative;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
@media (max-width: 761px) {
    .settings_information_actions {
        grid-column: 1 / 2;
    }
}
.settings_button {
    position: relative;
    height: 30px;
    right: 0;
    border-radius: 10px;
    font-size: .8em;
}
@media (max-width: 761px) {
    .settings_button {
        width: 60%;
        font-size: .6em;
    }
}

.change_password_popup {
    background-color: var(--box);
    border-radius: 10px;
    box-shadow:2px 3px 5px #999;
    position: fixed;
    z-index: 9;
    width: 44rem;
    height: 11rem;
    border: 2px solid var(--border);
}
.form_value_change_pw {
    position: relative;
    padding: 50px 20px;
    font-size: 1.3em;
}
.form_value_change_pw label {
    background-color: var(--box);
}
.form_value_change_pw input {
    width: 100%;
}
.form_value_change_pw button {
    margin-top: 10px;
    width: 100%;
}
.popup_pw_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.change_pw_button {
    width: 20rem;
    height: 2.5rem;
}

.grey_bg {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}