<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="static/css/main.css">
    {% block customstyle %} {% endblock %}
</head>
<body>
    
    <nav class="navbar" id="navbar">
        <div class="Logo">
            <p>MJs</p>
        </div>
        <ul class="menu">
            <li>
                <a href="/">Home</a>
                <ion-icon name="grid-outline"></ion-icon>
            </li>
            <li>
                <a href="/contact">Contact</a>
                <ion-icon name="help-circle-outline"></ion-icon>
            </li>
            {% if session['logged_in'] %}
                <li>
                    <a href="/settings">Settings</a> 
                    <ion-icon name="settings-outline"></ion-icon>
                </li>
            {% endif %}
            <li class="profile">
                {% if session['logged_in'] %}
                    <a href="/profile?id={{ session['id'] }}">Profile </a>
                    <img src="{{ result['profile_pic'] }}" alt="profile" height="34">
                {% else %}
                    <a href="/login">Log In</a>
                    <ion-icon name="enter-outline"></ion-icon>
                {% endif %}
            </li>
        </ul>
    </nav>
    <div class="placeholder_navbar" id="placeholder_navbar" ></div>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

<script src="static/js/index.js"></script>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


</body>
</html>