{% extends "_layout.html"%} 

{% block content %}

<section class="main-section">
    <div class="faq-section">
        <div class="faq-header">
            <h1>Frequently asked Questions - FAQ</h2>
        </div>
        <div class="faq-container">

            <div class="faq-element">
                <div class="faq-element-main">
                    <div class="faq-question">Q: What is this app for?</div>
                    <ion-icon id="drop-down" class="drop-down" name="chevron-down-outline"></ion-icon>
                    <ion-icon id="drop-up" class="drop-up" name="chevron-up-outline"></ion-icon>
                </div>
                <div class="faq-answer">
                    A: This App is made for gamers or other partys that are participating in the area of E-sports, which can be the Team Members, Coaches, Organizers and more. 
                </div>
            </div>

            <div class="faq-element">
                <div class="faq-element-main">
                    <div class="faq-question">Q: Can normal Gamers use this App as well?</div>
                    <ion-icon id="drop-down" class="drop-down" name="chevron-down-outline"></ion-icon>
                    <ion-icon id="drop-up" class="drop-up" name="chevron-up-outline"></ion-icon>
                </div>
                <div class="faq-answer">
                A: Yes, you can use this App even if you do not want to participate in Tournaments or want to get into E-sports.
                But it is required for you in this context to mention this is you Account Information to help other people with their search.
                 
                </div>
            </div>

            <div class="faq-element">
                <div class="faq-element-main">
                    <div class="faq-question">Q: Do you offer any payed Subscriptions?</div>
                    <ion-icon id="drop-down" class="drop-down" name="chevron-down-outline"></ion-icon>
                    <ion-icon id="drop-up" class="drop-up" name="chevron-up-outline"></ion-icon>
                </div>
                <div class="faq-answer">
                A: No, I do not offer any Premium Subscriptions yet.
                </div>
            </div>

            <div class="faq-element">
                <div class="faq-element-main">
                    <div class="faq-question">Q: Can I use this App without an Account?</div>
                    <ion-icon id="drop-down" class="drop-down" name="chevron-down-outline"></ion-icon>
                    <ion-icon id="drop-up" class="drop-up" name="chevron-up-outline"></ion-icon>
                </div>
                <div class="faq-answer">
                A: No, I strictly forbid users without an registered Account to use any of our Services.
                This is because the Users on this App are searching for serious reasons and to prevent any trolling or other inappropriate behaviour from non-registred accounts.
                </div>
            </div>

            <div class="faq-element">
                <div class="faq-element-main">
                    <div class="faq-question">Q: Is this Webapp finished?</div>
                    <ion-icon id="drop-down" class="drop-down" name="chevron-down-outline"></ion-icon>
                    <ion-icon id="drop-up" class="drop-up" name="chevron-up-outline"></ion-icon>
                </div>
                <div class="faq-answer">
                A: No, I am still working on this Webapp!
                </div>
            </div>
            
        
            

        </div>
        
    </div>

    <div class="ticket-form_section">
        <div class="ticket-form_box">
            <div class="ticket-form_head">
                <h2>Create a Ticket</h2>
                <h5>please only message us here if you do not find answers in the <a href="#">FAQ</a> </h5>
            </div>
            <div class="ticket-form-value">
                <form method="POST">
                    <div class="form_head">
                        <div class="contact_inputbox" style="float: left;">
                            <label for="">Email</label> 
                            <input type="text" name="email" placeholder="Enter email here..." required> 
                        </div>
                        
                        <div class="contact_inputbox" style="float: right;">
                            <label for="">Full name</label> 
                            <input type="text" name="full_name" placeholder="Enter name here..." required>
                        </div>
                    </div>
                    <div class="contact_textarea">
                        <label for="">Description of the problem</label> 
                        <textarea id="text" type="text" placeholder="Enter text here..." maxlength="1000" required></textarea>
                    </div>
                    <div class="contact_box_footer">
                        <p class="characters_counter"><span id="counter">1000</span></p>
                        <button class="button contact_button" type="submit" name="Value">Send</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</section>

<footer>
    <p>&copy; 2023 MJs Website. All rights reserved</p>
</footer>


<script>

    const textarea = document.getElementById('text');
    const counter = document.getElementById('counter');

    textarea.addEventListener('input', function() {
        const maxlength = parseInt(textarea.getAttribute('maxlength'));
        const currentlength = textarea.value.length;
        const remaininglength = maxlength - currentlength;
        counter.textContent = remaininglength;
    });


    
    const faqQuestions = document.querySelectorAll('.faq-question');
    const dropups = document.getElementsByClassName('drop-up');

    for (var i = 0; i < dropups.length; i += 1) {
        dropups[i].style.display = 'none';
    }

    faqQuestions.forEach((question) => {
        var dropdown = question.parentElement;
        dropdown = dropdown.querySelector('.drop-down');
        var dropup = question.parentElement;
        dropup = dropup.querySelector('.drop-up');
        var answer = question.parentElement;
        var answer = answer.nextElementSibling;
        
        question.addEventListener('click', () => {
            question.classList.toggle('active');
            answer.style.display = answer.style.display === 'block' ? 'none' : 'block';
            dropdown.style.display = dropdown.style.display === 'none' ? 'block' : 'none';
            dropup.style.display = dropup.style.display === 'none' ? 'block' : 'none';
    });
});




</script>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

{% endblock %}