{% extends "_layout.html" %}

{% block title %}
    Edit your Profile
{% endblock %}

{% block content %}

<section class="main-section main-section_card">
    <form class="user-box user-edit-box" method="POST">
        <div class="user-heading user-edit-heading">
            <div class="user-info_pic">
                <img src="{{ result['profile_pic'] or 'images/style-images/avatar.png' }}" alt="profile" height="78">
            </div>
            <div class="user-edit-heading-username">
                <p class="user-headline-input at_sign">@</p><input type="text" name="username" class="user-headline-input user-headline-username" value="{{ public_details['username'] }}">
            </div>
            {% if result['username'] == public_details['username'] %}
                <button type="submit" class="button prim_button edit_profile" class="edit_profile-button" name="Value">Finish</button>
            {% endif %}
        </div>
        <div class="user-values">
            <div class="user-info">
                <ion-icon name="game-controller-outline"></ion-icon>
                <label for="">Pro Game</label>
                <input type="text" name="pro_game" value="{{ public_details['pro_game'] }}" required>
            </div>
            <div class="user-info">
                <ion-icon name="medal-outline"></ion-icon>
                <label for="">Ingame Rank</label>
                <input type="text" name="ingame_rank" value="{{ public_details['ingame_rank'] }}" required>
            </div>
            <div class="user-info">
                <ion-icon name="cube-outline"></ion-icon>
                <label for="">Esports Team</label>
                <input type="text" name="esport_team" value="{{ public_details['esport_team'] }}" required>
            </div>
            <div class="user-info">
                <ion-icon name="cube-outline"></ion-icon>
                <label for="">Esports Organisation</label>
                <input type="text" name="esport_org" value="{{ public_details['esport_org'] }}" required>
            </div>
            
        </div>



    </form>

</section>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

{% endblock %}