{% extends "_layout.html"%} 

{% block title %}
    Forget password
{% endblock %}

{% block content %}

<section class="main-section main-section_card" >
    <div class="form-box login-forget_form-box forget_form-box">
        <div class="forgot_value">
            <form action="", method="POST">
                <h2 class="forget_header" >Forgot Password</h2>
                <div class="sec_inputbox forgot_inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" name="new_password" placeholder=" " required>
                    <label for="">New Password</label>
                </div>
                <div class="sec_inputbox forgot_inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" name="new_conf_password" placeholder=" " required>
                    <label for="">Confirm New Password</label>
                </div>
                <div class="wrong_info">
                    {% for message in get_flashed_messages() %}
                        <h5 class="message">{{ message }}</h5>
                    {% endfor %}
                </div>
                
                <button class="button prim_button update_password_button" type="submit" name="Value">Update Password</button>
                <div class="login">
                    <p>Back to Login? <a href="/login">Login</a></p>
                </div>
                <p><b>note: This is NOT changing anything!</b></p>
            </form>
        </div>
    </div>
</section>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


{% endblock %}