{% extends "_layout.html" %}

{% block content %}

<section class="main-section">
    {% if session['logged_in'] %}
    <div class="home_head_section">
        <div class="daily_report">
            <h2>Daily Report</h2>
            <div class="report_blocks_container">
                <div class="new_messages report_block">
                    <h3>New Messages</h3>
                    <ion-icon name="chatbubbles-outline"></ion-icon>
                </div>
                <div class="Connections report_block">
                    <h3>Connected</h3>
                    <ion-icon name="person-outline"></ion-icon>
                </div>
                <div class="Team Builder report_block">
                    <h3>Team Builder</h3>
                    <ion-icon name="game-controller-outline"></ion-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="home_mid_section">
        <div class="posts_heading">
            <div class="post_self_block">
                <div class="post_self">
                    <div class="profile_image_self">
                        <img class="profile_img" src="{{ session['profile_pic'] }}" height="60" alt="profile">
                    </div>
                    <div class="post_form_value">
                        <form method="POST">
                            <textarea type="text" name="content" id="text" placeholder="Enter your text here..." maxlength="250" required></textarea>
                            <div class="post_form_value_footer">
                                <p class="characters_counter"><span id="counter">250</span></p>
                                <button class="button post_create" type="submit" name="Value">Post</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="posts_side">
            <div class="suggested_accounts_box">
                <h3>Who to follow?</h3>
                <div class="suggested_accounts">
                    {% for accs in allusers %}
                        {% if loop.index <= 16 %}
                            <div class="account_box">
                                <a href="#" >{{ accs['username'] }}</p>
                            </div>
                        {% else %}
                            <!-- do nothing... -->
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="posts_section">
            <div class="posts_block">

                {% for posts in allposts %}

                    <div class="post">
                        <div class="post_img_col">
                            <img class="profile_img" src="{{ posts['profile_pic'] or 'static/images/style-images/avatar.png' }}" height="48" alt="profile">
                        </div>
                        <div class="post_main_col">
                            <div class="post_main_col_head">
                                <p class="post_username">{{ posts['username'] }}</p>
                                <p class="post_posttime" >
                                    {% if posts.post_time %}
                                        {{ posts.post_time | format_datetime }}
                                    {% else %}
                                        No post time available
                                    {% endif %}
                                </p>
                            </div>
                            <div class="post_main_col_body">
                                <p>
                                    {{ posts['content'] }}
                                </p>
                            </div>
                            

                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>


    </div>
    {% else %}
        <section class="main-section">
            <div class="home_new_head">
                <h1 class="home_new_headertext">The new Way of finding your future proffesional teammates</h1>
            </div>
        </section>


    {% endif %}
        


</section>

<footer>
    <p>&copy; 2023 MJs Website. All rights reserved</p>
</footer>


<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

{% endblock %}