{% extends "_layout.html" %}

{% block content %}

<section class="main-section main-section_card">
    <div class="user-box">
        <div class="user-heading">
            <div class="user-info_pic">
                <img src="{{ viewuser['profile_pic'] }}" alt="profile" height="78">
            </div>
            <div class="user-edit-heading-username">
                <p class="user-headline-input at_sign">@</p><input type="text" name="username" class="user-headline-input user-headline-username" value="{{ viewuser['username'] }}">
            </div>
            {% if result['username'] == viewuser['username'] %}
                <a class="button prim_button edit_profile" href="/edit_profile?id={{ session['id'] }}">Edit Profile</a>
            {% endif %}
        </div>
        <div class="user-values">
            <div class="user-info">
                <ion-icon name="text-outline"></ion-icon>
                <label for="">Pro Game</label>
                <p>{{ viewuser['pro_game'] }}</p>
            </div>
            <div class="user-info">
                <ion-icon name="text-outline"></ion-icon>
                <label for="">Ingame rank</label>
                <p>{{ viewuser['ingame_rank'] }}</p>
            </div>
            <div class="user-info">
                <ion-icon name="text-outline"></ion-icon>
                <label for="">Esports Team</label>
                <p>{{ viewuser['esport_team'] }}</p>
            </div>
            <div class="user-info">
                <ion-icon name="mail-outline"></ion-icon>
                <label for="">Esports Organisation</label>
                <p>{{ viewuser['esport_org'] }}</p>
            </div>
        </div>
        <hr class="profile_hr">
        <div class="user-posts">
            {% for posts in userposts %}
                <div class="post">
                    <div class="post_img_col">
                        <img class="profile_img" src="{{ posts['profile_pic'] }}" height="48" alt="profile">
                    </div>
                    <div class="post_main_col">
                        <div class="post_main_col_head">
                            {% if result['username'] == posts['username'] %}
                                <p class="post_username">me</p>
                            {% else %}
                                <p class="post_username">{{ posts['username'] }}</p>
                            {% endif %}
                            <p class="post_posttime" >
                                {% if posts.post_time %}
                                    {{ posts.post_time | format_datetime }}
                                {% else %}
                                    No post time available
                                {% endif %}
                            </p>
                        </div>
                        <div class="post_main_col_body">
                            <p>
                                {{ posts['content'] }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if not userposts %}
                <h3 class="noposts">
                    {% if result['username'] == viewuser['username'] %}
                       You haven't created any posts yet!
                    {% else %} 
                        This user has not created any posts yet!
                    {% endif %}
                </h3>
            {% endif %}
        </div>
    </div>
</section>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

{% endblock %}