{% extends "_layout.html" %} 

{% block content %}

<section class="main-section main-section_card" >
    <div class="form-box forget_form-box">
        <div class="forgot_value">
            <form action="/forget_password_send_email", method="POST">
                <h2 class="forget_header" >Forgot Password</h2>
                <div class="sec_inputbox forgot_inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="email" name="email" placeholder=" " required>
                    <label for="">Email</label>
                </div>

                <div class="wrong_info">
                    {% for message in get_flashed_messages() %}
                        <p class="message">{{ message }}</p>
                    {% endfor %}
                </div>
                <button onclick="showPopup" class="button prim_button update_password_button">send email</button>
                <div class="login">
                    <p>Back to Login? <a href="/login">Login</a></p>
                </div>

                <!-- <hr class="forgot_password_hr">
                <div class="explaination">
                    <button class="button prim_button final_page" type="submit" name="Value">final page</button>
                    <p>After the email was sent a link should redirect a user to this page</p>
                </div> -->
            </form>
        </div>
    </div>
</section>



<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

{% endblock %}