{% extends "_layout.html" %}

{% block content %}

<section class="main-section">
    <div class="settings_tabs_section">
        <h2>Settings</h2>
        <hr class="sector_hr settings_tabs_hr">
        <div class="settings_tabs">
            <div class="settings_tab">
                <ion-icon name="person-circle-outline"></ion-icon>
                <p>Personal Information</p>
            </div>
            <div class="settings_tab">
                <ion-icon name="key-outline"></ion-icon>
                <p>Password & Security</p>
            </div>
            <div class="settings_tab">
                <ion-icon name="invert-mode-outline"></ion-icon>                  
                <p>Appearance</p>
            </div>
            <div class="settings_tab">
                <ion-icon name="globe-outline"></ion-icon>
                <p>Language</p>
            </div>
            <div class="settings_tab">
                <ion-icon name="exit-outline"></ion-icon>
                <p>Log out</p>
            </div>

        </div>

    </div>
    <div class="tabs_information_section">
        <div id="tabs_information" class="tabs_information">


            <div class="personal_information_information tab_information">
                <h2>Personal Information</h2>
                <hr class="sector_hr">
                <h3>Contact Info</h3>
                <h6>This Information is used for contacting purposes and will not be displayed publicy</h5>
                <form class="personal_information_form" method="POST">
                    <div class="settings_inputbox inputbox_parent">
                        <label for="">First name</label> 
                        <input class="inputbox" type="text" name="fname" value="{{ result['fname'] }}" required>
                    </div>
                    <div class="settings_inputbox inputbox_parent">
                        <label for="">Last name</label> 
                        <input class="inputbox" type="text" name="lname" value="{{ result['lname'] }}" required>
                    </div>
                    <div class="settings_inputbox inputbox_parent">
                        <label for="">Email</label> 
                        <input class="inputbox" type="email" name="email" value="{{ result['email'] }}" required>
                    </div>
                    <div class="settings_inputbox inputbox_parent">
                        <label for="">Phone number</label> 
                        <input class="inputbox" type="text" name="phonenumber" value="{{ result['phonenumber'] }}" required>
                    </div>
                    <div class="settings_information_actions">
                        <button type="button" id="settings_cancel_personal_info" class="sec_button settings_button settings_cancel">Cancel</button>
                        <button type="submit" class="button settings_button settings_sumbit" name="Value">Save</button>
                    </div>

                </form>
            </div>



            <div class="Password_Security_information tab_information">
                <h2>Password & Security</h2>
                
            </div>

            <div class="Appearance_information tab_information">
                <h2>Appearance</h2>
                
            </div>

            <div class="Language_information tab_information">
                <h2>Language</h2>
                
            </div>
        </div>

    </div>

    

</section>



<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

{% endblock %}