{% extends "_layout.html" %}

{% block content %}

<section class="main-section main-section_card">
    <div class="signup_form-box">
        <div class="signup_form-value">
            <form action="", method="POST" enctype="multipart/form-data" >
                
                <h2 class="signup_header">Create Account</h2>

                <div class="form_signup">
                    <div class="signup_inputbox">
                        <ion-icon name="text-outline"></ion-icon>
                        <input type="text" name="fname" placeholder=" " required>
                        <label for="">First name</label>
                    </div>
                    <div class="signup_inputbox">
                        <ion-icon name="text-outline"></ion-icon>
                        <input type="text" name="lname" placeholder=" " required>
                        <label for="">Last name</label>
                    </div>
                    <div class="signup_inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" name="email" placeholder=" " required>
                        <label for="">Email</label>
                    </div>
                    <div class="signup_inputbox">
                        <ion-icon name="calendar-outline"></ion-icon>
                        <input class="signup_bday_input" type="date" name="birthday" placeholder=" " required>
                        <label for="">Birthday</label>
                    </div>
                    <div class="signup_inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="password" placeholder=" " required>
                        <label for="">Password</label>
                    </div>
                    <div class="signup_inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="conf_password" placeholder=" " required>
                        <label for="">Confirm Password</label>
                    </div>
                </div>
                <div class="signup_footer">
                    <div class="passwords_conf_err">
                        {% for message in get_flashed_messages() %}
                            <p class="message">{{ message }}</p>
                        {% endfor %}
                    </div>
                    <button class="button signup_button" type="submit" name="Value">Signup</button>
                    <div class="already">
                        <p>Already have an account? <a href="/login">Login</a> </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>




{% endblock %}