{% extends "_layout.html" %} 

{% block content %}

<section class="main-section main-section_card" >
    <div class="form-box forget_form-box">
        <div class="forgot_value">
            <form method="POST">
                <h2 class="forget_header" >Email sent</h2>
                <div class="sec_inputbox forgot_inputbox">
                    <ion-icon name="checkmark-circle-outline"></ion-icon>
                    <input type="text" name="ver_code" placeholder=" " required>
                    <label for="">Verification code</label>
                </div>

                <div class="wrong_info">
                    {% for message in get_flashed_messages() %}
                        <p class="message">{{ message }}</p>
                    {% endfor %}
                </div>
                <button class="button prim_button ver_forget_pw_button">send email</button>
                <p>Test code: 12345</p>
            </form>
        </div>
    </div>
</section>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


{% endblock %}